<form method="POST" action="{{ path('app_new_habit') }}" name="form[ownHabits][]">
    {{ form_widget(form.name) }}
    {{ form_widget(form.category) }}
    
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
    <input type="submit" value="Dodaj" name="add">
    <a href="{{ path('app_habit') }}"><button>Anuluj</button></a>
</form>