<div class="lg:bg-white h-full w-full flex items-center">
    <form method="POST" action="{{ path('app_habit_remove') }}" name="form[ownHabits][]" class="flex flex-col flex-wrap w-full justify-between">

        <div class="overflow-y-scroll limit-height border rounded-3xl lg:rounded-xl lg:p-0 p-4">
        {% for oh in ownHabits %}
            <label for="habit_{{ oh.id }}" class="habit-remove flex gap-8 lg:gap-4 flex items-center p-4">
                <input type="checkbox" name="ownHabits[]" value="{{ oh.id }}" id="habit_{{ oh.id }}" class="scale-[2] lg:scale-[1]">
                <p class="text-[2.5rem] lg:text-[1rem]">{{ oh.name }}</p>
                </label>
        {% endfor %}
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_habits') }}">
        </div>


        <div class="btn w-full flex flex-col lg:flex-row justify-center items-center gap-4 mt-8">

            <div class="relative overflow-hidden flex w-full lg:w-1/2">
                <input type="submit" value="Usuń" name="remove" class="btn--categories relative w-full bg-black text-center text-[2.5rem] lg:text-[1rem] text-white rounded-3xl lg:rounded-xl pt-6 pb-6 lg:pt-2.5 lg:pb-2.5 cursor-pointer">
                <div class="btn-dot--categories absolute bottom-1 left-0"></div>
            </div>

            <div class="relative overflow-hidden flex w-full lg:w-1/2">
                <a href="{{ path('app_habit') }}" class="btn--categories w-full relative bg-black text-center text-white text-[2.5rem] lg:text-[1rem] rounded-3xl lg:rounded-xl pt-6 pb-6 lg:pt-2.5 lg:pb-2.5"><button>Anuluj</button></a>
                <div class="btn-dot--categories absolute bottom-1 left-0"></div>
            </div>

        </div>
    </form>
</div>