<div class="habits__panel-right--bottom h-full w-full flex items-center">
    <form method="POST" action="{{ path('app_habit_remove') }}" name="form[ownHabits][]" class="flex flex-col m-8 flex-wrap w-full justify-be">

        <div class="overflow-y-scroll limit-height border rounded-xl p-4">
        {% for oh in ownHabits %}
            <label for="habit_{{ oh.id }}" class="habit-remove flex gap-4">
                <input type="checkbox" name="ownHabits[]" value="{{ oh.id }}" id="habit_{{ oh.id }}">
                {{ oh.name }}
                </label>
        {% endfor %}
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_habits') }}">
        </div>


        <div class="btn w-full flex justify-center items-center gap-4 mt-8">

            <div class="relative overflow-hidden flex w-1/2">
                <input type="submit" value="Usuń" name="remove" class="btn--categories relative w-full bg-black text-center text-md text-white rounded-xl pt-2.5 pb-2.5 cursor-pointer flex items-center">
                <div class="btn-dot--categories absolute bottom-1 left-0"></div>
            </div>

            <div class="relative overflow-hidden flex w-1/2">
                <a href="{{ path('app_habit') }}" class="btn--categories w-full relative bg-black text-center text-white text-md rounded-xl pt-2.5 pb-2.5"><button>Anuluj</button></a>
                <div class="btn-dot--categories absolute bottom-1 left-0"></div>
            </div>

        </div>
    </form>
</div>