{% extends 'base.html.twig' %}

{% block title %}Habitify - Logowanie{% endblock %}

{% block body %}

   {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="main__background w-full h-screen overflow-hidden">
        <div class="nav-main flex justify-end items-center gap-4">
            <div class="profile-text mt-8">
                <a href="{{ path('app_register') }}">
                    <p class="text-[2.5rem] lg:text-lg">Utwórz konto</p>
                </a>
            </div>

            <div class="profile-icon w-30 h-30 mr-8 mt-8">
                <a href="{{ path('app_register') }}">
                    <img src="{{ asset('/img/profile.svg') }}" class="w-32 h-32 lg:w-12 lg:h-12">
                </a>
            </div>
        </div>

        <div class="flex flex-col w-auto h-full justify-start items-center mt-[30%] lg:mt-20 gap-[8em] lg:gap-0">
            <div class="main__content md:w-auto w-full h-auto mb-10">
                <div class="main__heading--form">
                    <h1 class="h-auto text-[6.5rem] lg:text-[3.5rem]">LO<span class="main-color">GO</span>WANIE.</h1>
                </div>
            </div>

                <form action="{{ path('app_login') }}" method="POST" class="flex flex-col gap-5 w-full lg:w-auto items-center lg:items-start">
                    <input class="form__widget text-[2.5rem] lg:text-[1rem] rounded-3xl lg:rounded-md" type="text" name="_username" value="{{ lastUsername }}" placeholder="Adres email"/>
                    <input class="form__widget text-[2.5rem] lg:text-[1rem] rounded-3xl lg:rounded-md" type="password" name="_password" placeholder="Hasło">
                    <input class="form__widget" type="hidden" name="_target_path" value="/habits"/>
                     <a href="{{ path('app_register') }}" class="text-4xl lg:text-sm text-gray-500 w-[16em]">Nie mam konta</a>

                    <div class="mt-14">
                        <div class=" form-submit absolute overflow-hidden">
                            {# <a href="{{ path('app_register') }}"> #}
                            <button type="submit" class="form__btn--login rounded-3xl lg:rounded-xl text-[3rem] lg:text-xl relative flex gap-3"><span><img src="{{ asset('/img/register.svg') }}" class="main__btn-dashboard w-4/5 hidden lg:block"></span>Zaloguj</button>
                            <div class="btn-dot absolute bottom-2"></div>
                        </div>
                    </div>
                </form>
        </div>

    </div>

{% endblock %}
