{% extends 'base.html.twig' %}

{% block title %}Habitify - Podsumowanie{% endblock %}

{% block body %}

<div class="habits__container w-full max-h-full flex flex-col">
{# <pre>
    {{ dump(doneHabits) }}
    {{ dump(habitsGrouped) }}
</pre> #}
    <div class="flex flex w-full h-full">
        {# Nawigacja #}
        <div class="nav__container h-[100vh] mt-5 flex justify-center">
            <div class="nav__container h-full flex flex-col items-center">
                <div class="nav__name mb-16">
                    <p class="text-4xl font-bold">HABITIF<span class="main-color">Y.</span></p>
                </div>

                <div class="flex flex-col justify-between h-3/4 items-center">
                    <div class="nav__tabs flex flex-col gap-5">

                        <a class="w-auto h-auto" href="{{ path('app_dashboard') }}">
                            <div class="nav__dashboard  w-auto h-auto relative overflow-hidden">
                                <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                    <img class="w-5 h-5" src="{{ asset('/img/dashboard-off.svg') }}" alt="">
                                    <p>Pulpit</p>
                                </div>
                            </div>
                        </a>

                        <div class="nav__habits flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_habit') }}" class="flex gap-3 w-auto h-auto">
                                <div class="nav__dashboard  w-auto h-auto relative overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/nawyki-off.svg') }}" alt="">
                                        <p>Nawyki</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__summary flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_summary') }}" class="flex gap-3">
                                <div class="nav__dashboard  w-auto h-auto relative overflow-hidden">
                                    <div class="nav__dashboard btn-active flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/podsumowanie.svg') }}" alt="">
                                        <p>Podsumowanie</p>
                                    </div>
                                    <div class="btn__nav-dot absolute bottom-1 left-0"></div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__society flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_community') }}" class="flex gap-3">
                                <div class="nav__dashboard  w-auto h-auto relative overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/spolecznosc-off.svg') }}" alt="">
                                        <p>Społeczność</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__option flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_profile') }}" class="flex gap-3">
                                <div class="nav__dashboard  w-auto h-auto relative overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/profil-off.svg') }}" alt="">
                                        <p>Mój profil</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flex gap-4 cursor-pointer items-center justify-center">
                        <a href="{{ path('app_logout') }}" class="btn-logout flex gap-4 items-center justify-center">
                            <i class="logout-icon fa-solid fa-right-from-bracket text-3xl"></i><span>Wyloguj</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="main-container w-full h-[100vh] flex flex-col">
            {# Górny pasek z profilem #}
            <div class="nav flex w-full justify-between h-[10vh]">
                <div class="name-page ml-8 text-xl font-semibold">
                Podsumowanie
                </div>

                <div class="profile flex justify-center items-center gap-4">
                    <div class="profile-text">
                        <a href="{{ path('app_profile') }}">
                            <p>{{ userData.firstname }} {{ userData.lastname }} </p>
                        </a>
                    </div>

                    <div class="profile-icon w-30 h-30">
                        <a href="{{ path('app_profile') }}">
                            {% if userData.gender == 'M' %}
                                <img src="{{ asset('/img/profile.svg') }}">
                            {% else %}
                                <img src="{{ asset('/img/profilek.svg') }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>

            {# Panel główny podsumowania #}
            <div class="habits__main h-[90vh] w-full main__background flex gap-4 flex-col p-8">

                 <div class="habits__panel--top w-full h-28 flex justify-between items-center">
                    <div class="">
                        <p class="text-3xl font-semibold mb-3">Tydzień</p>
                        <p class="text-lg">
                            {{ startOfWeek }} - {{ endOfWeek }}
                        </p>
                    </div>
                    
                    <div class="flex gap-4">
                        <div class="flex items-center gap-2">
                            <div class="bg-green-300 w-12 h-6 rounded-sm"></div>
                            <span>Wykonany</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <div class="bg-red-300 w-12 h-6 rounded-sm"></div>
                            <span>Niewykonany</span>
                        </div>
                        <div class="flex items-center gap-2">
                            <div class=" font-semibold text-xl">X</div>
                            <span>Nieaktualny</span>
                        </div>
                    </div>
                </div>

                {# Tabela z tygoniem #}
                <div class="habits__table bg-white w-auto h-full flex flex-col justify-center items-center overflow-hidden">

                    <div class="rounded-table w-full h-auto bg-black pl-8 pr-8 pt-4 pb-4 overflow-hidden">
                    <table class="bg-white rounded-table w-full">
                        <thead class="">
                            <tr class="dni_tygodnia bg-black text-white w-full">
                                    <th class="p-1 w-[23%] tracking-widest font-semibold text-md main-color text-start">Nawyki</th>
                                {% set days = [1, 2, 3, 4, 5, 6, 0] %}
                                {% for day in days %}
                                    <th class="p-1 w-[11%] font-normal tracking-widest text-md relative">
                                    {{ ['Niedziela','Poniedziałek','Wtorek','Środa','Czwartek','Piątek','Sobota'][day] }}
                                    {% if day == today|date('w') %}
                                    <div class="day-indicator absolute main__background--gold rounded-xl"></div>
                                    {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                    </div>

                    <div class="table-scroll w-full h-full overflow-y-auto pl-8 pr-8 pt-0 mb-8">
                    <table class="mt-0 w-full">
                        <tbody class="overflow-y-auto w-auto">
                            {% for habit in habitsGrouped %}
                            {# <pre>
                                {{ dump(habitsGrouped) }}
                            </pre> #}
                                <tr class="nawyk">
                                    <td class="p-1 pt-2 pb-2 w-[23%] border-t border-r">
                                        <div class="flex gap-4 items-center w-full break-words whitespace-normal">
                                            {# <span class="w-[2em]">
                                            {% if habit.category == 1 %}
                                                <span class="w-8 h-8 bg-blue-100 rounded-2xl flex justify-center items-center">
                                                    <img class="w-4 h-4" src="{{ asset('img/icon-blue.svg') }}" alt="">
                                                </span>
                                            {% elseif habit.category == 2 %}
                                                <span class="w-8 h-8 bg-green-100 rounded-2xl flex justify-center items-center">
                                                    <img class="w-4 h-4" src="{{ asset('img/icon-green.svg') }}" alt="">
                                                </span>
                                            {% elseif habit.category == 3 %}
                                                <span class="w-8 h-8 bg-orange-100 rounded-2xl flex justify-center items-center">
                                                    <img class="w-4 h-4" src="{{ asset('img/icon-yellow.svg') }}" alt="">
                                                </span>
                                            {% endif %}
                                            </span> #}

                                            {# <span class="break-words whitespace-normal"> #}
                                                {{ habit.name }}
                                            {# </span> #}
                                        </div>
                                    </td>

                                    {% for i, day in days %}
                                        <td class="border-l border-t w-[11%] h-2 text-center">
                                            {% set found = false %}
                                            {% set targetDate = startOfWeek|date_modify('+' ~ i ~ ' days')|date('Y-m-d') %}
                                            
                                            {% for track in doneHabits %}
                                            {# data zaznaczenia nawyku taka jak data danego dnia tygodnia #}
                                                {% if (track.h_id == habit.id or track.oh_id == habit.id)
                                                    and track.date|date('Y-m-d') == targetDate and (track.is_deleted == 0 or (track.is_deleted == 1 and (targetDate <= habit.delete_date or targetDate >= habit.delete_date)))  %}
                                                    <div class="bg-green-300 w-full h-full"></div>
                                                    {% set found = true %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if not found and today|date('Y-m-d') > targetDate and (habit.delete_date == null or habit.delete_date < targetDate )  %}
                                                    <div class="bg-red-300 w-full h-full"></div>
                                            {% elseif not found and habit.delete_date != null and today|date('Y-m-d') >= targetDate %}
                                                X
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>


                </div>

            </div>  
               
        </div>
    </div>
</div>
{% endblock %}
