{% extends 'base.html.twig' %}

{% block title %}Habitify - Społeczność{% endblock %}

{% block body %}

<div class="habits__container w-full max-h-full flex flex-col">

    <div class="flex flex w-full h-full lg:flex-row flex-col">
        {# Nawigacja #}
        <div class="nav__container lg:h-[100vh] mt-5 flex justify-center absolute hidden lg:static lg:block">
            <div class="nav__container h-full flex flex-col items-center">
                <div class="nav__name mb-16">
                    <p class="text-4xl font-bold">HABITIF<span class="main-color">Y.</span></p>
                </div>

                <div class="flex flex-col justify-between h-3/4 items-center">

                    <div class="nav__tabs flex flex-col gap-5">
                        <a class="w-auto h-auto" href="{{ path('app_dashboard') }}">
                            <div class="nav__dashboard w-auto h-auto relative lg:overflow-hidden">
                                <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                    <img class="w-5 h-5" src="{{ asset('/img/dashboard-off.svg') }}" alt="">
                                    <p>Pulpit</p>
                                </div>
                            </div>
                        </a>

                        <div class="nav__habits flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_habit') }}" class="flex gap-3 w-auto h-auto">
                                <div class="nav__dashboard w-auto h-auto relative lg:overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/nawyki-off.svg') }}" alt="">
                                        <p>Nawyki</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__summary flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_summary') }}" class="flex gap-3">
                                <div class="nav__dashboard w-auto h-auto relative lg:overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/podsumowanie-off.svg') }}" alt="">
                                        <p>Podsumowanie</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__society flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_community') }}" class="flex gap-3">
                                <div class="nav__dashboard w-auto h-auto relative lg:overflow-hidden">
                                    <div class="nav__dashboard btn-active flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/spolecznosc.svg') }}" alt="">
                                        <p>Społeczność</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nav__profile flex gap-3 justify-left items-center gap-4">
                            <a href="{{ path('app_profile') }}" class="flex gap-3">
                                <div class="nav__dashboard w-auto h-auto relative lg:overflow-hidden">
                                    <div class="nav__dashboard btn-inactive flex gap-3 justify-start items-center relative">
                                        <img src="{{ asset('img/profil-off.svg') }}" alt="">
                                        <p>Mój profil</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="flex gap-4 cursor-pointer items-center justify-center">
                        <a href="{{ path('app_logout') }}" class="btn-logout flex gap-4 items-center justify-center">
                            <i class="logout-icon fa-solid fa-right-from-bracket text-3xl"></i><span>Wyloguj</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {# Nawigacja mobilna #}
        <div data-controller="mobile-menu" class="nav nav--mobile lg:hidden flex w-full justify-between h-[10vh] fixed main__background z-10">
            <div data-action="click->mobile-menu#toggle" class="burger-btn pointer w-[6em] h-[6em] ml-16 relative flex flex-col justify-center z-50">
                <div data-mobile-menu-target="bar" class="nav__btn-bar transition-all duration-500 absolute rounded-md h-[0.6em] bg-black mb-[3em] z-50"></div>
                <div class="absolute rounded-md h-[0.6em] w-full bg-black z-50"></div>
                <div data-mobile-menu-target="bar" class="nav__btn-bar transition-all duration-500 absolute rounded-md h-[0.6em] bg-black mt-[3em] right-0 z-50"></div>
            </div>
            <div class="name-page mr-16 text-[3rem] font-semibold z-50">
                <p data-mobile-menu-target="page" class="">Społeczność</p>
                <p data-mobile-menu-target="user" class="hidden static translate-x-full transition-all duration-500">{{ userData.firstname }} {{ userData.lastname }}</p>
            </div>
            <div data-mobile-menu-target="menu" class="fixed top-0 left-0 -translate-x-full transition-all duration-500 w-full h-full main__background z-[10] pt-[10vh]">
                {{ include("./shared/_nav_mobile.html.twig") }}
            </div>
        
        </div>
            {# Górny pasek z profilem #}
        <div class="w-full lg:h-[100vh]">
            <div class="nav flex w-full justify-between h-[10vh]">

                <div class="name-page lg:ml-8 lg:mr-8 mr-8 text-[3rem] lg:text-xl font-semibold hidden lg:block">
                    Społeczność
                </div>

                <div class="profile flex justify-center items-center gap-4 hidden lg:flex">
                    <div class="profile-text">
                        <a href="{{ path('app_profile') }}">
                            <p>{{ userData.firstname }} {{ userData.lastname }}</p>
                        </a>
                    </div>

                    <div class="profile-icon w-30 h-30">
                        <a href="{{ path('app_profile') }}">
                            {% if userData.gender == 'M' %}
                                <img src="{{ asset('/img/profile.svg') }}">
                            {% else %}
                                <img src="{{ asset('/img/profilek.svg') }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>

            <div class="main-container w-full lg:h-[90vh] h-[100vh] flex flex-col">

                {# Panel główny społeczności #}
                <div class="habits__main lg:h-[90vh] h-full w-full main__background gap-8 p-8 border border-gray-100">

                    <div class="lg:bg-white w-full h-full p-8 rounded-[40px] border border-gray-100 flex lg:flex-row flex-col">
                        {# Posty #}
                        <div class="habits__posts h-full lg:w-4/6 w-full lg:overflow-y-auto lg:order-1 order-2">
                            <p class="text-[4rem] lg:text-[1rem] lg:hidden block mb-16">Posty</p>
                            <div class="w-full h-full flex flex-wrap lg:gap-8 gap-16">

                                {% for post in posts %}
                                
                                    {% set status = post.name %}

                                    {% set image = {
                                        'Pierwszy krok': 'img/firststep.png',
                                        'Złota jesień życia': 'img/jesien.png',
                                        'Weekendowy wojownik': 'img/weekend.png',
                                        'Syn marnotrawny': 'img/marnotrawny.png',
                                        'Nowa rutyna': 'img/rutyna.png',
                                        'Kreator rzeczywistości': 'img/kreator.png',
                                        'Multizadaniowiec': 'img/multi.png',
                                        'Nawykowy Ninja': 'img/ninja.png',
                                        'Mistrz rutyny': 'img/mistrz.png',
                                    }[status]|default('img') %}


                                    {% set text = post.name %}

                                    {% set description = {
                                        'Pierwszy krok': 'Pierwszy dzień za mną!',
                                        'Złota jesień życia': 'Wykonuję nawyki już 90 dni!',
                                        'Weekendowy wojownik': 'Dążę do celu tylko w weekendy :)',
                                        'Syn marnotrawny': 'Wracam na dobre tory!',
                                        'Nowa rutyna': 'Czas na aktualizację',
                                        'Kreator rzeczywistości': 'Nowy rok a może nowy nawyk?',
                                        'Multizadaniowiec': '3 nawyki? Bułka z masłem!',
                                        'Nawykowy Ninja': '6 nawyków - mały krok, wielka zmiana!',
                                        'Mistrz rutyny': '10 nawyków? Jeszcze się trzymam!',
                                    }[text]|default('img') %}

                                    <div class="flex flex-col gap-1 mb-5 w-full xl:w-[45%] flex-wrap">
                                        <div class="flex gap-2 items-end ml-4 mr-4 justify-between">
                                            {# <div class="rounded-[50%]">
                                                {% if post.user.gender == 'M' %}
                                                    <img class="w-[3.5em]" src="{{ asset('/img/profile.svg') }}">
                                                {% else %}
                                                    <img class="w-[3.5em]" src="{{ asset('/img/profilek.svg') }}">
                                                {% endif %}
                                            </div> #}
                                            <div>
                                                <p class="font-semibold lg:text-[1.1rem] text-[2.5rem]">{{ post.user.firstname }} {{ post.user.lastname }}</p>
                                            </div>
                                            <div class="">
                                                <p class="lg:text-[0.8rem] text-[2rem]">{{ post.dateCreate|date('d/m/Y') }}</p>
                                            </div>
                                        </div>

                                        <div class="flex w-full lg:h-[8em] lg:min-h-[1em] min-h-[16em] bg-[#F2F2F2] lg:main__background rounded-[30px] justify-between lg:p-3 p-8 border border-gray-200 gap-1">
                                            <div class="flex flex-col">
                                                <p class="font-semibold flex flex-wrap mb-2 text-[2.5rem] lg:text-[1rem]">{{ post.name }}</p>
                                                <p class="font-light flex flex-wrap lg:text-[1rem] text-[2.5rem]">
                                                    <span class="flex flex-wrap">{{ description }}</span>
                                                </p>
                                            </div>
                                            <div class="flex h-full w-[30%] items-center lg:justify-center justify-end">
                                                <img class="lg:h-11 h-[8em]" src="{{ asset(image) }}" alt="{{ status }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {# Ranking #}
                        <div class="rank-panel lg:w-2/6 w-full h-full main__background rounded-[30px] border border-gray-100 flex flex-col lg:order-2 order-1 lg:mb-0 mb-[8em]">
                            <p class="lg:hidden flex text-[4rem]">Ranking</p>
                            <div class="rank__table--top lg:flex bg-[#424242] w-full lg:h-16 rounded-tr-[30px] rounded-tl-[30px] justify-center items-center hidden">
                                <h1 class="text-xl text-white font-semibold">Ranking</h1>
                            </div> 
                            <div class="flex flex-col w-full h-full p-4 lg:overflow-hidden">
                                <div class="flex flex-col w-full h-full lg:overflow-y-auto gap-2 ">
                                    <div class="flex items-center justify-end w-full border-b">
                                        <p class="text-[2.5rem] lg:text-[1rem] font-semibold">Obecna seria</p>
                                    </div>
                                    {% for person in ranking %}
                                    <div class="flex items-center justify-between border-b lg:border-gray-200 border-gray-400">
                                        <div class="flex items-center lg:gap-2 gap-12 lg:mb-2 lg:mt-0 mb-6 mt-6">
                                            {% if person.gender == 'M' %}
                                            <img class="w-[7em] lg:w-[3em]" src="{{ asset('/img/profile.svg') }}" alt="">
                                            {% else %}
                                            <img class="w-[7em] lg:w-[3em]" src="{{ asset('/img/profilek.svg') }}" alt="">
                                            {% endif %}
                                            <p class="lg:text-[1rem] text-[2.5rem]">{{ person.firstname }} {{ person.lastname }}</p>
                                        </div>
                                        <div class="">
                                            <p class="lg:text-[1rem] text-[2.5rem]">
                                            {% if person.currentStreak is null %}
                                            0 dni
                                            {% elseif person.currentStreak == 1 %}
                                                1 dzień
                                            {% else %}
                                            {{ person.currentStreak }} dni
                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
