<!DOCTYPE html>
<html class="lg:h-screen w-full overflow-hidden">
    <head>
        <meta charset="UTF-8">
        <!-- ... inne meta (charset, viewport) ... -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

       {# → Manifest PWA #}
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="theme-color" content="#2196f3">

        {# → iOS #}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-icon" href="{{ asset('icons/logo_habitify.png') }}">

        <title>{% block title %}Habitify{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ asset('/style/main.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
                <script src="https://cdn.tailwindcss.com"></script>
                {# <script src="../js/main.js"></script> #}
        {% endblock %}
            <script>tailwind.config = {darkMode: 'class'}</script>
            <script src="https://kit.fontawesome.com/4420231fa2.js" crossorigin="anonymous"></script>

        {{ encore_entry_link_tags('vendor') }}
        {{ encore_entry_link_tags('controllers') }}


    </head>
    <body class="h-full w-full m-0">
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('runtime') }}
        {{ encore_entry_script_tags('vendor') }}
        {{ encore_entry_script_tags('controllers') }}

            {# → Rejestracja Service Workera #}
        <script>
            if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('{{ asset('sw.js') }}')
                .then(reg => console.log('✅ SW registered:', reg.scope))
                .catch(err => console.error('❌ SW registration failed:', err));
            });
            }
        </script>

    </body>
</html>